@media screen and (min-width: 500px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .goal-details {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-goal-tracking {
    grid-template-columns: 1fr 2fr;
  }
  .main-setup-goals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  /* .goal-details {
        grid-template-columns: repeat(3,1fr);
    }     */
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}
